.tituloEntrada_contenedor {
    margin-left: 20px;
    margin-right: 20px;
}
input#titulo {
    margin: 10px;
    width: 90%;
    display: inline-block;
}
textarea {
 display: block;
 outline: none !important;
 border: 0 !important;
 resize: none;
}
label {
    margin-top: 5px;
}
div.btn {
    margin-top: 10px;
}
.row {
    width: 100%;
}
.fondoEditor {
    background-color: #f3f3f3;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
}
input#entrada {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 94%;
}
.tituloBienvenida {
    position: relative;
    text-align: center;
}
.descripcion {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
.noticia {
    position: relative;
    width: 100%;
    height: 111px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
}
.titulo_noticia {
    position: relative;
    text-align: center;
    font-size: 22px;
    color: #3758dd;
    border-bottom-color: #3758dd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-right: 30px;
}
.cuerpo_noticia {
    text-align: justify;
    margin-right: 30px;
}
.nano {
    height: 430px !important;
}
.barraTitulo {
    width: 100%;
    height: 80px;
    position: relative;
    top: -20px;
    background-color: #e0e0e0;
    overflow: hidden;
}
.barraTitulo > h1 {
    padding-left: 3%;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
}
.botonAtras {
    background-image: url(../../../View/imagenes/botones/arrow-back.png);
    width: 63px;
    height: 63px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    top: 6px;
}
.imgDescripcion {
    height: 300px;
    width: 100%;
    border: none;
    text-align: center;
}
.imgDescripcion > img {
    height: 100%;
    max-width: 100%;
}
.contenido_desc {
    position: relative;
    display: block;
    text-align: justify;
}
div.descImg {
    padding: 15px;
    text-align: center;
}
ol.breadcrumb {
    position: relative;
    top: -20px;
}
.categoriasImagenes {
    position: relative;
    height: 70px;
    width: 70px;
    display: inline-block;
}
.wrapper {
    /*height: 410px;*/
    overflow-y: auto;
}
.contenido_categoria {
    position: relative;
    display: block;
    top: -45px;
    width: 80%;
    left: 80px;
    text-align: justify;
    height: 42px;
    overflow: hidden;
}
.titulo_categoria {
    position: absolute;
    display: inline-table;
    top: 0;
    left: 94px;
    font-size: 18px;
    color: #3758dd;
}
a.list-group-item {
    height: 90px;
    overflow: hidden;
}
#iconoPrueba{
    width: 60px;
    height: 60px;
    background-image: url(../../../View/imagenes/iconoMuseo.png);
    background-position: center;
}

#iconoPruebaParque {
    width: 60px;
    height: 60px;
    background-image: url(../../../View/imagenes/iconoParques.png);
    background-position: center;
}

#qrDesc {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
#qrDesc > img {
    position: relative;
    width: 100px;
    height: 100px;
}
.categoriasImagenesParque {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #5cb85c;
    display: inline-block;
}
.descripcionMunicipioPrincipal.nano {
    height: 420px !important;
}
.separadoresDesc {
    height: 410px;
}
.contenedorQR {
    height: 150px;
}
div#mapDesc {
    margin-bottom: 10%;
}
.titulo_noticia_vista {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.botonesAccion {
    float: right;
    margin: 5px;
    margin-right: 5px;
}
.configuracionEntrada_wrapper {
     padding-top: 10px;
}
.botonCategorias {
    width: 100%;
}
.ui-dialog-titlebar {
    display: none;
}
.navbar-brand > img {
    display: block;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}
td, th {
    text-align: center;
}
.contenedorTabla {
    position: relative;
    margin-top: 10px;
    overflow: auto;
}
.espacioBoton {
    margin: 10px;
    text-align: right;
}
.generalidades {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
.datosLugar {
    margin-top: 10px;
    display:none;
}
.datosLugar > input {
    margin: 5px;
}
.imagenCabecera {
    background-color: #f2f2f2;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 60px;
    padding-top: 3px;
    cursor: pointer;
    overflow: hidden;
}
.imagenCabecera >span {
    font-size: 50px;
    opacity: 0.9;
}
input.gllpZoom {
    display: none;
}
.gllpMap{
    height: 520px;
}
.informacionMapa {
    display: inline-block;
    height: 40px;
    padding-top: 8px;
}
#seleccionarMapa,#cerrarMapa{
    margin-left: 8px;
    margin-top: 6px;
}
.botones_mapa {
    display: inline-block;
    position: relative;
    float: right;
}
.dz-image > img { width: 100%; }
img.imagenCabeceraNoticia { width: 100%; }
.descripcionImagenNoticia {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 600;
}
blockquote {
    background-color: #eee;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 60px;
}
h3,h4 {
    font-weight: 600;
}
.direccion, .telefonos {
    width: 49%;
    display: inline-block;
}
.cargandoPagina {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
}
.cargandoPagina > img {
    margin-top: 25%;
}
div#qrDesc > canvas {
    position: relative;
    left: -56px;
}
input#administrativo {
    margin-left: 20px;
    margin-top: 15px;
}